In [1]:
%run before_to_start.ipynb

In [2]:
import janitor
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 

sns.set_style('whitegrid')

In [3]:
saber_df = pd.read_csv(data_raw_dir('tabla.saber.2014.csv'), 
                       dtype={'DISC_COGNITIVA': 'object',
                              'DISC_CONDICION_ESPECIAL': 'object',
                              'DIS_MOTRIZ': 'object',
                              'DISC_INVIDENTE': 'object',
                              'DISC_INVIDENTE': 'object',
                              'DISC_SORDO': 'object',
                              'DISC_SDOWN': 'object',
                              'DISC_AUTISMO': 'object',
                              'DISC_AUTISMO': 'object',
                              'CODIGO_DANE': 'object'})

saber_df = saber_df.clean_names(case_type='snake')
saber_df.head()

,codigo_icfes,estu_consecutivo,pers_genero,pers_fechanacimiento,pers_etnia,disc_cognitiva,disc_condicion_especial,dis_motriz,disc_invidente,disc_sordo,...,lectura_critica_punt,matematicas_punt,sociales_ciudadanas_punt,ciencias_naturales_punt,ingles_punt,ingles_desem,naturaleza,departamento,total,borde
0,18,SABER1120142534739,F,24/04/98,100.0,NaN,NaN,NaN,NaN,NaN,...,55,47,42,41,52,A1,NO OFICIAL,ANTIOQUIA,233,False
1,18,SABER1120142094962,F,17/03/98,100.0,NaN,NaN,NaN,NaN,NaN,...,63,69,59,69,66,A2,NO OFICIAL,ANTIOQUIA,325,True
2,18,SABER1120142337859,M,17/12/97,100.0,NaN,NaN,NaN,NaN,NaN,...,61,59,56,54,67,A2,NO OFICIAL,ANTIOQUIA,291,False
3,18,SABER1120142502015,F,27/10/94,100.0,NaN,NaN,NaN,NaN,NaN,...,51,50,47,38,44,A-,NO OFICIAL,ANTIOQUIA,232,False
4,18,SABER1120142075449,F,30/01/96,100.0,NaN,NaN,NaN,NaN,NaN,...,63,56,61,64,88,B+,NO OFICIAL,ANTIOQUIA,315,True

In [4]:
saber_df.columns.tolist()

['codigo_icfes',
 'estu_consecutivo',
 'pers_genero',
 'pers_fechanacimiento',
 'pers_etnia',
 'disc_cognitiva',
 'disc_condicion_especial',
 'dis_motriz',
 'disc_invidente',
 'disc_sordo',
 'disc_sdown',
 'disc_autismo',
 'cod_muni_reside',
 'muni_reside',
 'depa_reside',
 'zona_reside',
 'fins_tipoubicacion',
 'codigo_dane',
 'nombre_sede',
 'jornada',
 'fins_valormensualpension',
 'fins_repeticionexamen',
 'cod_muni_apli',
 'muni_apli',
 'depa_apli',
 'fins_niveleducativopadre',
 'fins_niveleducativomadre',
 'fins_ocupacionpadre',
 'fins_ocupacionmadre',
 'fins_estratoviviendaenergia',
 'fins_sisben',
 'fins_personashogaractual',
 'fins_cuartoshogaractual',
 'fins_pisoshogar',
 'fins_tienetelefonofijo',
 'fins_tienetelefonocelular',
 'fins_tieneinternet',
 'fins_tienetelevision',
 'fins_tienecomputador',
 'fins_tienedvd',
 'fins_tienelavadoraropa',
 'fins_tienehornomicroondas',
 'fins_tienenevera',
 'fins_tieneautomovilparticular',
 'fins_tienehornoelectricogas',
 'fins_ingresomensualhogar',
 'fins_trabajaactualmente',
 'fins_salarioportrabajo',
 'eval_puesto',
 'lectura_critica_punt',
 'matematicas_punt',
 'sociales_ciudadanas_punt',
 'ciencias_naturales_punt',
 'ingles_punt',
 'ingles_desem',
 'naturaleza',
 'departamento',
 'total',
 'borde']

In [5]:
# Percent missing values
saber_df.isna().sum() / len(saber_df)

codigo_icfes                     0.000000
estu_consecutivo                 0.000000
pers_genero                      0.000382
pers_fechanacimiento             0.000122
pers_etnia                       0.002477
disc_cognitiva                   1.000000
disc_condicion_especial          0.999402
dis_motriz                       0.999120
disc_invidente                   0.999707
disc_sordo                       0.999762
disc_sdown                       0.999941
disc_autismo                     0.999779
cod_muni_reside                  0.000035
muni_reside                      0.000035
depa_reside                      0.000035
zona_reside                      0.000000
fins_tipoubicacion               0.002504
codigo_dane                      0.000000
nombre_sede                      0.000000
jornada                          0.000000
fins_valormensualpension         0.002510
fins_repeticionexamen            0.002510
cod_muni_apli                    0.000000
muni_apli                        0.000000
depa_apli                        0.000000
fins_niveleducativopadre         0.002482
fins_niveleducativomadre         0.002482
fins_ocupacionpadre              0.002482
fins_ocupacionmadre              0.002484
fins_estratoviviendaenergia      0.002482
fins_sisben                      0.002482
fins_personashogaractual         0.002482
fins_cuartoshogaractual          0.002482
fins_pisoshogar                  0.002482
fins_tienetelefonofijo           0.002482
fins_tienetelefonocelular        0.002482
fins_tieneinternet               0.002482
fins_tienetelevision             0.002482
fins_tienecomputador             0.002482
fins_tienedvd                    0.002482
fins_tienelavadoraropa           0.002482
fins_tienehornomicroondas        0.002482
fins_tienenevera                 0.002482
fins_tieneautomovilparticular    0.002482
fins_tienehornoelectricogas      0.002482
fins_ingresomensualhogar         0.002482
fins_trabajaactualmente          0.002478
fins_salarioportrabajo           0.906977
eval_puesto                      0.000000
lectura_critica_punt             0.000000
matematicas_punt                 0.000000
sociales_ciudadanas_punt         0.000000
ciencias_naturales_punt          0.000000
ingles_punt                      0.000000
ingles_desem                     0.000000
naturaleza                       0.000002
departamento                     0.000002
total                            0.000000
borde                            0.000000
dtype: float64

## **Fill na**

In [6]:
saber_df.dtypes

codigo_icfes                       int64
estu_consecutivo                  object
pers_genero                       object
pers_fechanacimiento              object
pers_etnia                       float64
disc_cognitiva                    object
disc_condicion_especial           object
dis_motriz                        object
disc_invidente                    object
disc_sordo                        object
disc_sdown                        object
disc_autismo                      object
cod_muni_reside                  float64
muni_reside                       object
depa_reside                       object
zona_reside                        int64
fins_tipoubicacion                object
codigo_dane                       object
nombre_sede                       object
jornada                           object
fins_valormensualpension         float64
fins_repeticionexamen            float64
cod_muni_apli                      int64
muni_apli                         object
depa_apli                         object
fins_niveleducativopadre         float64
fins_niveleducativomadre         float64
fins_ocupacionpadre              float64
fins_ocupacionmadre              float64
fins_estratoviviendaenergia      float64
fins_sisben                      float64
fins_personashogaractual         float64
fins_cuartoshogaractual          float64
fins_pisoshogar                  float64
fins_tienetelefonofijo            object
fins_tienetelefonocelular         object
fins_tieneinternet                object
fins_tienetelevision              object
fins_tienecomputador              object
fins_tienedvd                     object
fins_tienelavadoraropa            object
fins_tienehornomicroondas         object
fins_tienenevera                  object
fins_tieneautomovilparticular     object
fins_tienehornoelectricogas       object
fins_ingresomensualhogar         float64
fins_trabajaactualmente          float64
fins_salarioportrabajo            object
eval_puesto                        int64
lectura_critica_punt               int64
matematicas_punt                   int64
sociales_ciudadanas_punt           int64
ciencias_naturales_punt            int64
ingles_punt                        int64
ingles_desem                      object
naturaleza                        object
departamento                      object
total                              int64
borde                               bool
dtype: object

In [7]:
categorical_cols = [column for column in saber_df.columns if
                        saber_df[column].nunique() != 2 and
                        saber_df[column].nunique() < 10 and 
                        saber_df[column].dtype == 'object']

numerical_cols = saber_df.select_dtypes(include='number').columns.tolist()

In [8]:
dummy_encoded = pd.get_dummies(saber_df[categorical_cols])
dummy_encoded.head()

,disc_condicion_especial_CE,dis_motriz_MOT,disc_invidente_VIS,disc_sordo_AUD,disc_sdown_SD,disc_autismo_AA,jornada_C,jornada_M,jornada_N,jornada_S,jornada_T,ingles_desem_A-,ingles_desem_A1,ingles_desem_A2,ingles_desem_B+,ingles_desem_B1
0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0

In [9]:
saber_df.drop(categorical_cols, axis=1, inplace=True)
saber_df = pd.concat([saber_df, dummy_encoded], axis=1)

In [10]:
# Percent missing values
print(saber_df.iloc[:, :60].isna().sum() / len(saber_df))

codigo_icfes                     0.000000
estu_consecutivo                 0.000000
pers_genero                      0.000382
pers_fechanacimiento             0.000122
pers_etnia                       0.002477
cod_muni_reside                  0.000035
muni_reside                      0.000035
depa_reside                      0.000035
zona_reside                      0.000000
fins_tipoubicacion               0.002504
codigo_dane                      0.000000
nombre_sede                      0.000000
fins_valormensualpension         0.002510
fins_repeticionexamen            0.002510
cod_muni_apli                    0.000000
muni_apli                        0.000000
depa_apli                        0.000000
fins_niveleducativopadre         0.002482
fins_niveleducativomadre         0.002482
fins_ocupacionpadre              0.002482
fins_ocupacionmadre              0.002484
fins_estratoviviendaenergia      0.002482
fins_sisben                      0.002482
fins_personashogaractual         0.002482
fins_cuartoshogaractual          0.002482
fins_pisoshogar                  0.002482
fins_tienetelefonofijo           0.002482
fins_tienetelefonocelular        0.002482
fins_tieneinternet               0.002482
fins_tienetelevision             0.002482
fins_tienecomputador             0.002482
fins_tienedvd                    0.002482
fins_tienelavadoraropa           0.002482
fins_tienehornomicroondas        0.002482
fins_tienenevera                 0.002482
fins_tieneautomovilparticular    0.002482
fins_tienehornoelectricogas      0.002482
fins_ingresomensualhogar         0.002482
fins_trabajaactualmente          0.002478
fins_salarioportrabajo           0.906977
eval_puesto                      0.000000
lectura_critica_punt             0.000000
matematicas_punt                 0.000000
sociales_ciudadanas_punt         0.000000
ciencias_naturales_punt          0.000000
ingles_punt                      0.000000
naturaleza                       0.000002
departamento                     0.000002
total                            0.000000
borde                            0.000000
disc_condicion_especial_CE       0.000000
dis_motriz_MOT                   0.000000
disc_invidente_VIS               0.000000
disc_sordo_AUD                   0.000000
disc_sdown_SD                    0.000000
disc_autismo_AA                  0.000000
jornada_C                        0.000000
jornada_M                        0.000000
jornada_N                        0.000000
jornada_S                        0.000000
dtype: float64

In [11]:
saber_df.drop(['fins_salarioportrabajo'], axis=1, inplace=True)
saber_df.dropna(inplace=True)

In [12]:
def date_to_age(born):    
    today = date.today()
    born = datetime.strptime(born, '%d/%m/%y')

    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [14]:
from datetime import date, datetime

# Add age column
saber_df['pers_age'] = saber_df['pers_fechanacimiento'].apply(date_to_age)
saber_df.drop(['pers_fechanacimiento'], axis=1, inplace=True)

In [15]:
print(saber_df.iloc[:, :60].isna().sum() / len(saber_df))

codigo_icfes                     0.0
estu_consecutivo                 0.0
pers_genero                      0.0
pers_etnia                       0.0
cod_muni_reside                  0.0
muni_reside                      0.0
depa_reside                      0.0
zona_reside                      0.0
fins_tipoubicacion               0.0
codigo_dane                      0.0
nombre_sede                      0.0
fins_valormensualpension         0.0
fins_repeticionexamen            0.0
cod_muni_apli                    0.0
muni_apli                        0.0
depa_apli                        0.0
fins_niveleducativopadre         0.0
fins_niveleducativomadre         0.0
fins_ocupacionpadre              0.0
fins_ocupacionmadre              0.0
fins_estratoviviendaenergia      0.0
fins_sisben                      0.0
fins_personashogaractual         0.0
fins_cuartoshogaractual          0.0
fins_pisoshogar                  0.0
fins_tienetelefonofijo           0.0
fins_tienetelefonocelular        0.0
fins_tieneinternet               0.0
fins_tienetelevision             0.0
fins_tienecomputador             0.0
fins_tienedvd                    0.0
fins_tienelavadoraropa           0.0
fins_tienehornomicroondas        0.0
fins_tienenevera                 0.0
fins_tieneautomovilparticular    0.0
fins_tienehornoelectricogas      0.0
fins_ingresomensualhogar         0.0
fins_trabajaactualmente          0.0
eval_puesto                      0.0
lectura_critica_punt             0.0
matematicas_punt                 0.0
sociales_ciudadanas_punt         0.0
ciencias_naturales_punt          0.0
ingles_punt                      0.0
naturaleza                       0.0
departamento                     0.0
total                            0.0
borde                            0.0
disc_condicion_especial_CE       0.0
dis_motriz_MOT                   0.0
disc_invidente_VIS               0.0
disc_sordo_AUD                   0.0
disc_sdown_SD                    0.0
disc_autismo_AA                  0.0
jornada_C                        0.0
jornada_M                        0.0
jornada_N                        0.0
jornada_S                        0.0
jornada_T                        0.0
ingles_desem_A-                  0.0
dtype: float64

In [17]:
from saber.visualization.visualize import display_tables

saber_df.display_tables()

,codigo_icfes,estu_consecutivo,pers_genero,pers_etnia,cod_muni_reside,muni_reside,depa_reside,zona_reside,fins_tipoubicacion,codigo_dane,nombre_sede,fins_valormensualpension,fins_repeticionexamen,cod_muni_apli,muni_apli,depa_apli,fins_niveleducativopadre,fins_niveleducativomadre,fins_ocupacionpadre,fins_ocupacionmadre
0,18,SABER1120142534739,F,100.0,5001.0,MEDELLIN,ANTIOQUIA,3,U,305001004731,COL ATENEO HORIZONTES,6.0,1.0,5001,MEDELLIN,ANTIOQUIA,8.0,7.0,9.0,10.0
1,18,SABER1120142094962,F,100.0,5001.0,MEDELLIN,ANTIOQUIA,3,U,305001004731,COL ATENEO HORIZONTES,6.0,1.0,5001,MEDELLIN,ANTIOQUIA,4.0,7.0,9.0,5.0
2,18,SABER1120142337859,M,100.0,5001.0,MEDELLIN,ANTIOQUIA,3,U,305001004731,COL ATENEO HORIZONTES,6.0,1.0,5001,MEDELLIN,ANTIOQUIA,5.0,8.0,9.0,10.0
3,18,SABER1120142502015,F,100.0,5001.0,MEDELLIN,ANTIOQUIA,3,U,305001004731,COL ATENEO HORIZONTES,6.0,1.0,5001,MEDELLIN,ANTIOQUIA,9.0,7.0,9.0,9.0
4,18,SABER1120142075449,F,100.0,5001.0,MEDELLIN,ANTIOQUIA,3,U,305001004731,COL ATENEO HORIZONTES,6.0,1.0,5001,MEDELLIN,ANTIOQUIA,5.0,5.0,9.0,10.0

,fins_estratoviviendaenergia,fins_sisben,fins_personashogaractual,fins_cuartoshogaractual,fins_pisoshogar,fins_tienetelefonofijo,fins_tienetelefonocelular,fins_tieneinternet,fins_tienetelevision,fins_tienecomputador,fins_tienedvd,fins_tienelavadoraropa,fins_tienehornomicroondas,fins_tienenevera,fins_tieneautomovilparticular,fins_tienehornoelectricogas,fins_ingresomensualhogar,fins_trabajaactualmente,eval_puesto,lectura_critica_punt
0,4.0,5.0,4.0,3.0,4.0,S,S,S,S,S,S,S,S,S,N,S,2.0,1.0,618,55
1,4.0,5.0,4.0,3.0,4.0,S,S,S,S,S,S,S,S,S,S,S,5.0,1.0,54,63
2,4.0,5.0,5.0,3.0,4.0,S,S,S,S,S,S,S,S,S,S,S,4.0,1.0,166,61
3,4.0,5.0,2.0,2.0,4.0,S,S,S,S,S,S,S,S,S,S,S,2.0,1.0,637,51
4,5.0,5.0,4.0,2.0,4.0,S,S,S,S,S,S,S,S,S,N,S,2.0,1.0,77,63

,matematicas_punt,sociales_ciudadanas_punt,ciencias_naturales_punt,ingles_punt,naturaleza,departamento,total,borde,disc_condicion_especial_CE,dis_motriz_MOT,disc_invidente_VIS,disc_sordo_AUD,disc_sdown_SD,disc_autismo_AA,jornada_C,jornada_M,jornada_N,jornada_S,jornada_T,ingles_desem_A-
0,47,42,41,52,NO OFICIAL,ANTIOQUIA,233,False,0,0,0,0,0,0,1,0,0,0,0,0
1,69,59,69,66,NO OFICIAL,ANTIOQUIA,325,True,0,0,0,0,0,0,1,0,0,0,0,0
2,59,56,54,67,NO OFICIAL,ANTIOQUIA,291,False,0,0,0,0,0,0,1,0,0,0,0,0
3,50,47,38,44,NO OFICIAL,ANTIOQUIA,232,False,0,0,0,0,0,0,1,0,0,0,0,1
4,56,61,64,88,NO OFICIAL,ANTIOQUIA,315,True,0,0,0,0,0,0,1,0,0,0,0,0

,ingles_desem_A1,ingles_desem_A2,ingles_desem_B+,ingles_desem_B1,pers_age
0,1,0,0,0,22
1,0,1,0,0,23
2,0,1,0,0,23
3,0,0,0,0,26
4,0,0,1,0,25

In [16]:
saber_df.to_csv(data_interim_dir('saber.csv'), index=False)