In [1]:
%run before_to_start.ipynb

In [2]:
import pandas as pd 
from saber.visualization.visualize import display_tables

In [3]:
saber_df = pd.read_csv(data_interim_dir('saber.csv'),
                       dtype={'codigo_dane': 'object'})
                       
saber_df.display_tables()

,codigo_icfes,estu_consecutivo,pers_genero,pers_etnia,cod_muni_reside,muni_reside,depa_reside,zona_reside,fins_tipoubicacion,codigo_dane,nombre_sede,fins_valormensualpension,fins_repeticionexamen,cod_muni_apli,muni_apli,depa_apli,fins_niveleducativopadre,fins_niveleducativomadre,fins_ocupacionpadre,fins_ocupacionmadre
0,18,SABER1120142534739,F,100.0,5001.0,MEDELLIN,ANTIOQUIA,3,U,305001004731,COL ATENEO HORIZONTES,6.0,1.0,5001,MEDELLIN,ANTIOQUIA,8.0,7.0,9.0,10.0
1,18,SABER1120142094962,F,100.0,5001.0,MEDELLIN,ANTIOQUIA,3,U,305001004731,COL ATENEO HORIZONTES,6.0,1.0,5001,MEDELLIN,ANTIOQUIA,4.0,7.0,9.0,5.0
2,18,SABER1120142337859,M,100.0,5001.0,MEDELLIN,ANTIOQUIA,3,U,305001004731,COL ATENEO HORIZONTES,6.0,1.0,5001,MEDELLIN,ANTIOQUIA,5.0,8.0,9.0,10.0
3,18,SABER1120142502015,F,100.0,5001.0,MEDELLIN,ANTIOQUIA,3,U,305001004731,COL ATENEO HORIZONTES,6.0,1.0,5001,MEDELLIN,ANTIOQUIA,9.0,7.0,9.0,9.0
4,18,SABER1120142075449,F,100.0,5001.0,MEDELLIN,ANTIOQUIA,3,U,305001004731,COL ATENEO HORIZONTES,6.0,1.0,5001,MEDELLIN,ANTIOQUIA,5.0,5.0,9.0,10.0

,fins_estratoviviendaenergia,fins_sisben,fins_personashogaractual,fins_cuartoshogaractual,fins_pisoshogar,fins_tienetelefonofijo,fins_tienetelefonocelular,fins_tieneinternet,fins_tienetelevision,fins_tienecomputador,fins_tienedvd,fins_tienelavadoraropa,fins_tienehornomicroondas,fins_tienenevera,fins_tieneautomovilparticular,fins_tienehornoelectricogas,fins_ingresomensualhogar,fins_trabajaactualmente,eval_puesto,lectura_critica_punt
0,4.0,5.0,4.0,3.0,4.0,S,S,S,S,S,S,S,S,S,N,S,2.0,1.0,618,55
1,4.0,5.0,4.0,3.0,4.0,S,S,S,S,S,S,S,S,S,S,S,5.0,1.0,54,63
2,4.0,5.0,5.0,3.0,4.0,S,S,S,S,S,S,S,S,S,S,S,4.0,1.0,166,61
3,4.0,5.0,2.0,2.0,4.0,S,S,S,S,S,S,S,S,S,S,S,2.0,1.0,637,51
4,5.0,5.0,4.0,2.0,4.0,S,S,S,S,S,S,S,S,S,N,S,2.0,1.0,77,63

,matematicas_punt,sociales_ciudadanas_punt,ciencias_naturales_punt,ingles_punt,naturaleza,departamento,total,borde,disc_condicion_especial_CE,dis_motriz_MOT,disc_invidente_VIS,disc_sordo_AUD,disc_sdown_SD,disc_autismo_AA,jornada_C,jornada_M,jornada_N,jornada_S,jornada_T,ingles_desem_A-
0,47,42,41,52,NO OFICIAL,ANTIOQUIA,233,False,0,0,0,0,0,0,1,0,0,0,0,0
1,69,59,69,66,NO OFICIAL,ANTIOQUIA,325,True,0,0,0,0,0,0,1,0,0,0,0,0
2,59,56,54,67,NO OFICIAL,ANTIOQUIA,291,False,0,0,0,0,0,0,1,0,0,0,0,0
3,50,47,38,44,NO OFICIAL,ANTIOQUIA,232,False,0,0,0,0,0,0,1,0,0,0,0,1
4,56,61,64,88,NO OFICIAL,ANTIOQUIA,315,True,0,0,0,0,0,0,1,0,0,0,0,0

,ingles_desem_A1,ingles_desem_A2,ingles_desem_B+,ingles_desem_B1,pers_age
0,1,0,0,0,22
1,0,1,0,0,23
2,0,1,0,0,23
3,0,0,0,0,26
4,0,0,1,0,25

In [4]:
categorical_cols = [column for column in saber_df.columns if
                        saber_df[column].nunique() == 2 and
                        saber_df[column].dtype == 'object']

In [5]:
saber_df[categorical_cols]

,pers_genero,fins_tipoubicacion,fins_tienetelefonofijo,fins_tienetelefonocelular,fins_tieneinternet,fins_tienetelevision,fins_tienecomputador,fins_tienedvd,fins_tienelavadoraropa,fins_tienehornomicroondas,fins_tienenevera,fins_tieneautomovilparticular,fins_tienehornoelectricogas,naturaleza
0,F,U,S,S,S,S,S,S,S,S,S,N,S,NO OFICIAL
1,F,U,S,S,S,S,S,S,S,S,S,S,S,NO OFICIAL
2,M,U,S,S,S,S,S,S,S,S,S,S,S,NO OFICIAL
3,F,U,S,S,S,S,S,S,S,S,S,S,S,NO OFICIAL
4,F,U,S,S,S,S,S,S,S,S,S,N,S,NO OFICIAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540455,F,U,N,S,S,S,S,S,S,S,S,N,S,OFICIAL
540456,F,U,S,S,S,S,S,S,S,S,S,N,S,OFICIAL
540457,M,U,S,S,S,S,S,S,S,S,S,N,S,OFICIAL
540458,M,U,S,N,S,N,S,S,S,S,S,N,S,OFICIAL
540459,F,U,N,N,N,N,N,N,N,N,S,N,N,OFICIAL

In [6]:
from saber.data.preprocessing import _binary_label_encoder

saber_df_encoded = saber_df._binary_label_encoder()
saber_df_encoded[categorical_cols]

,pers_genero,fins_tipoubicacion,fins_tienetelefonofijo,fins_tienetelefonocelular,fins_tieneinternet,fins_tienetelevision,fins_tienecomputador,fins_tienedvd,fins_tienelavadoraropa,fins_tienehornomicroondas,fins_tienenevera,fins_tieneautomovilparticular,fins_tienehornoelectricogas,naturaleza
0,0,1,1,1,1,1,1,1,1,1,1,0,1,0
1,0,1,1,1,1,1,1,1,1,1,1,1,1,0
2,1,1,1,1,1,1,1,1,1,1,1,1,1,0
3,0,1,1,1,1,1,1,1,1,1,1,1,1,0
4,0,1,1,1,1,1,1,1,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540455,0,1,0,1,1,1,1,1,1,1,1,0,1,1
540456,0,1,1,1,1,1,1,1,1,1,1,0,1,1
540457,1,1,1,1,1,1,1,1,1,1,1,0,1,1
540458,1,1,1,0,1,0,1,1,1,1,1,0,1,1
540459,0,1,0,0,0,0,0,0,0,0,1,0,0,1

In [9]:
saber_df_encoded.to_csv(data_processed_dir('saber.csv'), index=False)